.cardPost {
  background: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 10px 0;
  overflow: hidden;
}

.author {
  border-bottom: 1px solid #ddd;
  padding: 7px 15px;
  font-weight: 600;
  background: #f9f9f9;
}

.postContent {
  padding: 15px;

  img {
    max-width: 100%;
    display: inline-block;
  }
}
